@font-face {
  font-family: "hyperspace";
  src: url("assets/Hyperspace.otf");
}

body {
  font-family: hyperspace;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #525252;
}

canvas {
  vertical-align: middle;
}
