@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Hyperspace";
  src: url("../assets/Hyperspace.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Hyperspace";
  src: url("../assets/Hyperspace Bold.otf");
  font-weight: bold;
}

body {
  font-family: Hyperspace, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
}

#canvas {
  vertical-align: middle;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
